<div class="container text-center mt-4">
    <h2>Unilocal</h2>
    <h1 class="mb-5">Moderador</h1>
    <div class="row justify-content-center">
      <div class="col-md-3">
        <a routerLink="../lugares-pendientes">
          <div class="circle bg-light">
            <i class="fas fa-question fa-3x"></i>
          </div>
          <h4 class="mt-3">Lugares pendientes</h4>
        </a>
      </div>
      <div class="col-md-3">
        <a routerLink="../lugares-aceptados">
          <div class="circle bg-success">
            <i class="fas fa-check fa-3x"></i>
          </div>
          <h4 class="mt-3">Lugares aceptados</h4>
        </a>
      </div>
      <div class="col-md-3">
        <a routerLink="../lugares-rechazados">
          <div class="circle bg-danger">
            <i class="fas fa-times fa-3x"></i>
          </div>
          <h4 class="mt-3">Lugares rechazados</h4>
        </a>
      </div>
    </div>
  </div>