.container {
    max-width: 800px;
    margin: auto;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  img.rounded-circle {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .btn {
    font-weight: bold;
  }
  