<app-inicio-cliente></app-inicio-cliente>

<div class="crear-lugar-container">
  <h2>Crear Nuevo Negocio</h2>
  <form [formGroup]="lugarForm">
    <label for="nombre">Nombre:</label>
    <input formControlName="nombre" id="nombre" required />

    <label for="descripcion">Descripción:</label>
    <textarea formControlName="descripcion" id="descripcion" required></textarea>

    <div formArrayName="horarios">
      <h3>Horarios:</h3>
      <div *ngFor="let horario of horarios.controls; let i = index" [formGroupName]="i">
        <label for="dia">Día:</label>
        <input formControlName="dia" placeholder="Día" required />
        
        <label for="horaApertura">Hora Apertura:</label>
        <input type="time" formControlName="horaApertura" required />

        <label for="horaCierre">Hora Cierre:</label>
        <input type="time" formControlName="horaCierre" required />
      </div>
      <button type="button" (click)="agregarHorario()">Agregar Horario</button>
    </div>

    <div formArrayName="imagenes">
      <h3>Imágenes:</h3>
      <div *ngFor="let imagen of imagenes.controls; let i = index">
        <input formControlName="{{i}}" placeholder="URL de la imagen" required />
      </div>
      <button type="button" (click)="agregarImagen()">Agregar Imagen</button>
    </div>

    <label for="tipoNegocio">Tipo de Negocio:</label>
    <input formControlName="tipoNegocio" id="tipoNegocio" required />

    <div formArrayName="telefonos">
      <h3>Teléfonos:</h3>
      <div *ngFor="let telefono of telefonos.controls; let i = index">
        <input formControlName="{{i}}" placeholder="Número de teléfono" required />
      </div>
      <button type="button" (click)="agregarTelefono()">Agregar Teléfono</button>
    </div>

    <button type="button" (click)="crearNegocio()">Crear Negocio</button>
  </form>
  <p>{{ mensaje }}</p>
</div>
