<app-inicio-cliente></app-inicio-cliente>

<div class="favorito-container">
  <h2>Administrar Favoritos</h2>
  <form [formGroup]="favoritoForm">
    <label for="codigoNegocio">Código del Negocio:</label>
    <input formControlName="codigoNegocio" id="codigoNegocio" required />

    <label for="codigoCliente">Código del Cliente:</label>
    <input formControlName="codigoCliente" id="codigoCliente" required />

    <button type="button" (click)="agregarFavorito()">Agregar a Favoritos</button>
    <button type="button" (click)="quitarFavorito()">Quitar de Favoritos</button>
  </form>
  <p>{{ mensaje }}</p>
</div>
  