.card img {
  width: 100%;
  height: auto;
}

.table th, .table td {
  vertical-align: middle;
}

.list-group-item {
  margin-bottom: 10px;
}

.list-group-item h5 {
  margin: 0;
}

.list-group-item small {
  display: block;
}

button i {
  margin-right: 5px;
}