<div class="login-container">
  <h2>Iniciar Sesión</h2>
  <form [formGroup]="loginForm">
    <label for="correoElectronico">Correo Electrónico:</label>
    <input formControlName="correoElectronico" type="email" id="correoElectronico" required />

    <label for="password">Contraseña:</label>
    <input formControlName="password" type="password" id="password" required minlength="5" />

    <button type="button" (click)="iniciarSesionCliente()">Iniciar Sesión como Cliente</button>
    <button type="button" (click)="registrarse()">Registrarse</button>
  </form>
  <p>{{ mensaje }}</p>
</div>
