<nav class="menu-superior">
  <button type="button" (click)="irAInicio()" [class.activo]="seccionActiva === 'Inicio'">Inicio</button>
  <button type="button" (click)="irACrearLugar()" [class.activo]="seccionActiva === 'Crear Lugar'">Crear Lugar</button>
  <button type="button" (click)="irACrearOferta()" [class.activo]="seccionActiva === 'Crear Oferta'">Crear Oferta</button>
  <button type="button" (click)="irAFavoritos()" [class.activo]="seccionActiva === 'Favoritos'">Favoritos</button>
  <button type="button" (click)="irAMisLugares()" [class.activo]="seccionActiva === 'Mis Lugares'">Mis Lugares</button>
  <button type="button" (click)="irAPerfil()" [class.activo]="seccionActiva === 'Perfil'">Perfil</button>
  <button type="button" (click)="irAChat()" [class.activo]="seccionActiva === 'Chat'">Chat</button>
</nav>

<app-buscar></app-buscar>