<app-inicio-cliente></app-inicio-cliente>

<div class="oferta-container">
  <h2>Crear Nueva Oferta</h2>
  <form [formGroup]="ofertaForm">
    <label for="descuento">Descuento (%):</label>
    <input type="number" formControlName="descuento" id="descuento" required />

    <label for="codigoNegocio">Código del Negocio:</label>
    <input formControlName="codigoNegocio" id="codigoNegocio" required />

    <label for="descripcion">Descripción:</label>
    <textarea formControlName="descripcion" id="descripcion" required></textarea>

    <label for="inicioOferta">Inicio de la Oferta:</label>
    <input type="datetime-local" formControlName="inicioOferta" id="inicioOferta" required />

    <label for="finOferta">Fin de la Oferta:</label>
    <input type="datetime-local" formControlName="finOferta" id="finOferta" required />

    <button type="button" (click)="crearOferta()">Crear Oferta</button>
  </form>
  <p>{{ mensaje }}</p>
</div>
